
body {
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  font-weight: 700;
}

p {
  color: grey;
}

.container-fluid {
  padding: 7% 15%;
}

.section-text {
  font-size: 3rem;
  line-height: 1.5;
}






/* Title Section */


.big-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: lighter;
}

/* Download Buttons */

.download-btn {
  margin: 5% 3% 5% 0;
}

#title {
  background-color: #ff4c68;
  color: #fff;
  text-align: left;
}

/* Title Image */
.title-image {
  width: 57%;
  transform: rotate(25deg);
  position: absolute;
  right: 3%;
}





/* Features section */


#features  {
  background-color: #fff;
  position: relative;
  z-index: 1;

}

.feature-title {
  font-size: 1.4rem;
}

.feature-box {
  padding: 5%;
}
.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}





/* Testimonials */


#testimonials {
  background-color:#ef8172;
  color: white;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin-left: 20px;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}


#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}





/* Pricing part */


.btn-price {
  width: 100%;
}

#pricing {
  padding: 90px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}





/* Call to Action  */


#cta {
  background-color: #ff4c58;

}

.cta-title {
  padding: 8% 14% 3% 14%;
  color: #fff;
}

.cta-download-btn {
  margin: 0 3% 10% 0;

}






/* footer section */


#footer {
  background-color: #fff;
}

.footer-link {
   padding-top: 100px;
   padding-right: 1%;
   padding-left: 1%;
}

.footer-copyright  {
   margin-bottom: 0px;
   padding-bottom: 60px;
   padding-top: 20px;
}

@media (max-width:1028px) {

  .title-image {
    position: static;
    transform: rotate(0);
  }

}
